name: Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

env:
  PRODUCT: catbox

jobs:
  build:
    name: Checkout, build, archive, upload
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16

    - name: Build fat binary
      run: make all-arch

    - name: Archive binary
      run: make releases

    - name: Upload archived binary
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.PRODUCT }}
        path: build/package/${{ env.PRODUCT }}*

  checksum:
    name: Get archived packages checksum
    runs-on: ubuntu-latest
    needs: build
    outputs:
      digest: ${{ steps.digest.outputs.result }}
    steps:
    - name: Download math result from build job
      uses: actions/download-artifact@v2
      with:
        name: ${{ env.PRODUCT }}
        path: .

    - name: Create all binary digest
      id: digest
      run: |
        digest=$(find ${{ env.PRODUCT }}* -type f -exec sha256sum {} +)
        digest="${digest//$'%'/%25}"
        digest="${digest//$'\n'/%0A}"
        echo "::set-output name=result::$digest"

  release:
    name: Create and upload release
    runs-on: ubuntu-latest
    needs: [build, checksum]
    steps:
    - name: Download math result from build and checksum jobs
      uses: actions/download-artifact@v2
      with:
        name: ${{ env.PRODUCT }}
        path: ${{ env.PRODUCT }}

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        body: |
          **Digests in this release:**

          ```
          ${{ needs.checksum.outputs.digest }}
          ```
        files: ${{ env.PRODUCT }}/*${{ env.PRODUCT }}*
        draft: false
        prerelease: true
